# System Initialization & Secrets
sys_init/.env
sys_init/*.json
# sys_init/  <-- Commented out to allow committing blueprints and examples

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# IDE
.vscode/
.idea/
.DS_Store

# Output Tasks
tasks/*
!tasks/.gitkeep
