# System Initialization & Secrets
.env
sys_init/*.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Node / Cloudflare
node_modules/
.wrangler/
.DS_Store

# IDE
.vscode/
.idea/

# Output Tasks
tasks/*
!tasks/.gitkeep

